body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    height:100%;
    width: 100%;
    border:0;
    padding:0;
    margin:0;
}

#editor-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 96%;
    width: 18%;
    background-color: lightgrey;
    padding:1%;
}

#editor-page-visual{
    padding:1%;
    height:96%;
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#editor-frame{
    border: black solid 1px;
    width:97%;
    height:88%;
    overflow-y: scroll;
}



#editor-tree{
    height: 50%;
    max-height: 50%;
    overflow: scroll;
    width:100%;
    scrollbar-width: thin;
    scrollbar-color: grey transparent;
}
.editor-tree-item.selected{
    font-weight: bold;
    background-color: whitesmoke;
}


#editor-build-blocks{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
    max-height: 50%;
    overflow-y: scroll;
    width:100%;
    scrollbar-width: thin;
    scrollbar-color: grey transparent;
    justify-content: space-between;
}
.editor-build-block{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 20%;
    background-color: white;
    align-items: center;
    justify-content: center;
}


.selected:not(.editor-tree-item){
    box-shadow: inset 0px 0px 0px 3px orange !important;
    cursor: pointer;
}

.drag-clone{
    background-color: orange !important;
}

.dragged{
    background-color: lightgreen !important;
}
.drag-before{
    border-left: cyan solid 3px !important;
}
.drag-after{
    border-right: cyan solid 3px !important;
}
.drag-into{
    border: cyan solid 3px !important; 
}

.selected:not(.editor-tree-item).editor-striped{
    background: repeating-linear-gradient(
        45deg,
        transparent ,
        transparent 10px,
        salmon 30px,
        salmon 40px 
    );
}